@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 3
   
   Author:   Seth and Bethany
   Date:      11/13/18
   
   Filename: cw_styles.css

   This file contains the screen styles used with the 
   Cauli-Wood Gallery home page

*/

@import url("cw_designs.css");


/* Import Basic Design Styles  */


/* ===============================
	General Styles for All Devices
   ===============================
*/

nav#bottom {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	flex-flow: row nowrap;
	justify-content: center;
}

nav#bottom ul {
	-webkit-flex-basis: 150px;
	flex-basis: 150px;
}

/* ===============================
	Mobile Styles up to 480 pixels
   ===============================
*/

/*Note: like the annoyance of the review, for some reason, the mobile screen refuses to work, despite it being correct (at least, the css should be)
If you remove the "and (max-width: 480px)" it should display what the mobile screen should look like. Sorry it has problems for some reason. */

@media only screen and (max-width: 480px) {
	
	body {
		color: rgb(211, 211, 211);
		background-color: rgb(51, 51, 51);
	}
	
	aside, img, section#spotlight{
		display: none;
	}
	
	nav#top ul{
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		font-size: 2.2em;
		-webkit-flex: 1 1 130px;
		flex: 1 1 130px;
	}
	
	nav#top ul li:nth-of-type(1) {
		background: url(cw_image01.png) no-repeat center;
		background-size: contain;
	}
	nav#top ul li:nth-of-type(2) {
		background: url(cw_image02.png) no-repeat center;
		background-size: contain;
	}
	nav#top ul li:nth-of-type(3) {
		background: url(cw_image03.png) no-repeat center;
		background-size: contain;
	}
	nav#top ul li:nth-of-type(4) {
		background: url(cw_image04.png) no-repeat center;
		background-size: contain;
	}
	nav#top ul li:nth-of-type(5) {
		background: url(cw_image05.png) no-repeat center;
		background-size: contain;
	}
	nav#top ul li:nth-of-type(6) {
		background: url(cw_image06.png) no-repeat center;
		background-size: contain;
	}
	
	p#links {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	
	p#links a {
		color: white;
		background-color: rgb(220, 27, 27);
		border-radius: 20px;
		padding: 10px;
		text-decoration: none;
	}
}



/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/
@media only screen and (min-width: 481px) {
	
	body {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	}
	
	article {
		-webkit-flex: 2 1 400px;
		flex: 2 1 400px;
	}
	
	aside {
		-webkit-flex: 2 1 200px;
		flex: 2 1 200px;
	}
	
	nav#top ul {
		display: -webkit-flex;
		display: flex;
		background-color: rgb(51, 51, 51);
		height: 50px;
		justify-content: center;
		align-items: center;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	
	nav#top ul li {
		-webkit-flex-basis: 80px;
		flex-basis: 80px;
	}

	p#links {
		display: none;
	}
}
