@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 2
   
    Author:   Jeremy and Brett
    Date:     11/8/18 
            
   Filename: wc_styles.css

   This file contains the layout styles and media
   queries used with sample pages from the Willet
   Creek Golf Course website.

*/


/* Import Design Styles */
@import url("wc_designs.css");
 

/* Flex Layout Styles */
body{
    display: -webkit-flex;
    display: -khtml-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -khtml-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -o-flex-flow: row wrap;
    flex-flow: row wrap;
}

nav#hole_list{
    -webkit-flex: 1 3 140px;
    flex: 1 3 140px;
}

article {
    -webkit-flex: 3 1 341px;
    flex: 3 1 341px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

section#stats{
    -webkit-flex: 1 4 120px;
    flex: 1 4 120px;
}

section#summary{
    -webkit-flex: 4 1 361px;
    flex: 4 1 361px;
}


/* =============================
	Mobile Styles: 0 - 480 pixels
   =============================
*/





/* =================================================
	Tablet and Desktop Styles: 481 pixels and greater
   =================================================
*/

