@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Brett F./Jeremy
   Date:   11/12/2018  

   
   Filename: jb_layout.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Grid Styles */

div.grid {
  clear: both;
  display: grid;
}

div.row::after {
  clear:both;
  content: "";
  display: table;
}

div.column-1-4 {
  float: left;
  width: 25%;
}

div.column-3-4 {
  float: left;
  width: 75%;
  text-align: center;
}

div.column-1 {
  float: left;
  width: 100%;
  text-align: center;
}
