@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Brett F./Jeremy
   Date:   11/12/2018  

   
   Filename: jb_layout.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* General Styles */

html {
  background-image: url("jb_back3.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  background: white;
  max-width: 1024px;
  margin: 0px auto;
  box-shadow: rgb(51, 51, 51) 10px 10px 25px,  rgb(51, 51, 51) -10px 10px 25px;
}

body > header {
   background-color: olivedrab;
   width: 100%;
}

body header > img {
   display: block;
   margin: 0px auto;
   width: 75%;
   max-width: 500px;
}


div.row {
  background-image: url("jb_back2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body aside#navs {
  background-color: rgba(107, 142, 35, 0.9);
  border-radius: 15px;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: rgb(51, 51, 51) 5px 5px 10px,
              rgb(51, 51, 51) -5px 5px 10px;
}

body aside#navs h1 {
  text-align: center;
}

body aside#navs li {
  text-align: center;
}

p {
  clear: both;
  float: left;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1em;
  margin: 10px;
  text-align: center;
}

aside#slang {
  background-image: url("jb_back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

aside#slang h1 {
  font-size: 1.2em;
}

aside#slang dt {
  font-weight: bold;
  font-size: 1em;
}


/* Horizontal Navigation Styles */

nav.horizontal {
  background-color: rgb(91, 91, 91);
}

nav.horizontal ul li {
  line-height: 2em;
  padding-left: 10px;
  width: 100%;
}

nav.horizontal ul li a {
  color: white;
  display: block;
}

nav.horizontal::after {
  content: "";
  display: table;
  clear: both;
}
aside#navs {
  clear: both;
  float: left;
}

aside#navs::after {
  clear: both;
  content: "";
  display: table;
}

/* Footer Styles */

body > footer {
  background-color: rgb(91, 91, 91);
  color: white;
  font-size: 0.85em;
  text-align: center;
  height: 60px;
  line-height: 20px;
  width: 100%;
}

body > footer a {
  text-decoration: none;
  color: olivedrab;
}

body > footer a:hover {
  color: blue;
}
