@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Brett F./Jeremy
   Date:   11/12/2018  

   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/

/* Flex Layout Styles */
body{
  display: -webkit-flex;
  display: -khtml-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -khtml-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* ============================================
      Mobile Devices: 0 - 480 pixels
   ============================================
*/
@media only screen and (max-width: 480px){
  footer{
    -webkit-order: 100;
    order: 100;
  }
  
  body header nav.horizontal ul {
    display: none;
  }
  
  body aside#navs {
    display: none;
  }
  
  body aside#slang {
    display: none;
  }
  
  a#navicon:hover+ul, nav.horizontal ul:hover {
    display: block;
  }
  
  body > footer {
    font-size: 0.8em;
  }
  
  div.column-3-4 {
    width: 100%;
    background-image: url("jb_back3.png");
  }
}
    
/* ===================================================
	Tablet and Desktop Devices: Greater than 480 pixels
   ===================================================
*/
@media only screen and (min-width: 481px){
  body header a#navicon {
    display: none;
  }
  
  body header nav.classes {
    display: none;
  }

  body header nav.horizontal ul{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}
