@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4

   Author: E. Ruiz / Cameron Odom
   Date: November 12 2018

   Filename: jb_styles.css

   This file contains the screen styles used with the
   Jersey Buoys home page

*/
/* Desktop Styles */
@media only screen and (min-width: 481px){
  html{
    background: linear-gradient(#5896CE, white);
    height: 100%
  }
  body{
  	background-color:white;
  	margin-left: 10%;
  	margin-right: 10%;
  	height:100%;
  	margin-bottom:0px;
  	margin-top:0px;
  	padding-left: 1%;
  	padding-right:1%

  }
  /* Flex Styles */
  div#flex {
    clear: both;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  /* Header Nav Styles */
  header {
    margin-bottom: 60px;
    width:100%;
  }
  header nav ul li {
    display: inline;
    float: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 16.66%;
    background-color: #6CAA41;
    font-family: 'Gloria Hallelujah', cursive;
  }
  header nav ul li a {
    text-decoration: none;
    color: white;
  }

  a#navicon {
    display: none;
  }

  /* Vertical Nav Styles */
  nav#vertical {
    width: 20%;
    background-color: #AEF5C0;
    border-radius: 10px;
    padding-right: 2%;
    padding-left: 2%;
    height: 80%;
  }

  nav#vertical ul li {
    list-style-type: none;
    line-height: 1em;
  }

  nav#vertical ul li a {
    text-decoration: none;
  }

  nav#vertical ul li h2 {
    line-height: 10px;
    font-family: 'Gloria Hallelujah', cursive;
  }

  /* Section Styles */
  section {
  	background-color: #5896ce;
  	margin-left: 20px;
  	margin-right:20px;
    padding-left: 20px;
    padding-right:20px;
    border: solid 4px rgb(72, 121, 165);
    border-radius: 20px 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;

  }
  section p {
  	font-size: 1.15em;
  }
  /* Article Styles */
  article {
    width: 35%;
    padding-left: 10px;
    height: 100%;
  }

  h2#slang {
    font-family: 'Gloria Hallelujah', cursive;
  }

  article dt {
  	font-weight: bold;
  	text-decoration: underline;
  }
  ul li {
    list-style-type: none;
  }
  ul#surfer li{
    max-height: 200px;
  }

  ul#surfer {
    display: flex;
    width: 290%;
    text-align: center;
    margin-left: -60px;
  }

  dl {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  ul li {
    width: 100%;
  }

  dt {

  }

  dd {

  }

  /* Footer Styles */
  footer {
    clear: both;
  	text-align: center;
    	position:absolute;
  	right: 0;
  	bottom: 0;
  	left:0;
  	padding: 1em;
  }

  footer p {
  	display: inline;
  }
  #imlazy{
    display:none;
  }
}



/* Mobile Styles */
@media only screen and (max-width: 480px) {
  body{
    display:flex;
    flex-flow: column wrap;
  }
  article {
    display: none;
  }

  #flex{
    disply:flex;
    order: 50;
  }

  #imlazy {
    display:flex;
    order: 1;
  }

  footer p {
    display: inline;
  }
  footer {
    background-color: rgb(226, 200, 122);
    text-align:center;
    order: 100;
  }

  a#navicon {
    display: block;
  }

  nav.horizontal ul {
    display: none;
  }

  a#navicon:hover+ul, nav.horizontal ul:hover {
    display: block;
  }

  nav#vertical ul {
    float: left;
    width: 33%;
  }
  ul{
    list-style-type:none;
  }
  nav#vertical{
    display: flex;
  }
  #flex section{
    display:none;
  }
  footer a{
    font-size: 1.2em;
  }

  section {
    display:flex;
    flex-flow: column wrap;
  }

  div {
    display: flex;
  }
}
